<%= link_to 'Create New Post', new_post_path %>
<div>

<% @posts.each do |post| %>
<br>
<br>Post Title:<br>	
<%= link_to post.title, post_path(post) %>
<br>
		
<%= post.description %><br>
<%= post.seo_name %><br>
<%= post.post_body %><br>
<br>
Posted by: <%= post.user.email %>
<% end %>
</div>